{% extends 'base.html' %}

{% block head %}
<title>New city taxi</title>
{% endblock %}

{% block body %}
<h2>Where do you want to go? <br> Enter your phone number and distination:</h2>
<form name="addApplication" id="addApplication" class="application-form" method="POST" action="/">
  <div> {{ form.name.label }} {{ form.name() }}
  <i class="fa fa-times-circle" aria-hidden="true"></i>
  <i class="fa fa-check-circle" aria-hidden="true"></i> </div>
  <div> {{ form.phone.label }} {{ form.phone() }}
  <i class="fa fa-times-circle" aria-hidden="true"></i>
  <i class="fa fa-check-circle" aria-hidden="true"></i> </div>
  <div> {{ form.adress.label }} {{ form.adress() }}
  <i class="fa fa-times-circle" aria-hidden="true"></i>
  <i class="fa fa-check-circle" aria-hidden="true"></i> </div>
  <input type="submit" value="Submit!">
</form>
{% if error %}
  <h2>{{ error }}</h2>
{% endif %}
{% endblock %}
